<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Info on Ninja producing locaitons in the US</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="locations_block">
        <div class="content_header">
            <h3>Choose a location.</h3>
        </div>
        <form id="locations_newsletter_form" action="/" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email_address" class="form-control" placeholder="Email">
            <div>
            <label for="Radio_SiliconValley">Silicon Valley</label>
            <input type="radio" name="Loc" value="Radio_SV" >
            <label for="Radio_Seattle">Seattle</label>
            <input type="radio" name="Loc" value="Radio_Seattle" >
            <label for="Radio_LA">Los Angeles</label>
            <input type="radio" name="Loc" value="Radio_LA" >
            <label for="Radio_Dallas">Dallas</label>
            <input type="radio" name="Loc" value="Radio_Dallas" >
            <label for="Radio_DC">Washington D.C.</label>
            <input type="radio" name="Loc" value="Radio_DC" >
            <label for="Radio_Chicago">Chicago</label>
            <input type="radio" name="Loc" value="Radio_Chicago" >
            <label for="Radio_Tulsa">Tulsa</label>
            <input type="radio" name="Loc" value="Radio_Tulsa" >
            <label for="Radio_Burkley">Burkley</label>
            <input type="radio" name="Loc" value="Radio_Burkley" >
            <label for="Radio_OrangeCounty">Orange County</label>
            <input type="radio" name="Loc" value="Radio_OrangeCounty" >
            <input type="submit" value="Submit">
        </div>
        </form>

        <div class="locations row">
            <div class="location silicon_valley_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/silicon_valley_cd_campus.jpg" alt="silicon-valley-coding-dojo-campus">
                    <h3><a href="/san-jose">SILICON VALLEY</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Silicon+Valley/@37.3754039,-121.9123471,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb713acc8ef2b:0xc4237df2ec635dcc!8m2!3d37.3753997!4d-121.9101584?shorturl=1" target="_blank">
                            <span>1920 ZANKER ROAD, SUITE 20</span>
                            <span>SAN JOSE, CA 95112</span>
                        </a>
                    <p>Home to many of the world's largest technology corporations, as well as thousands of tech startups, San Jose is at the heart of Silicon Valley, and has the highest concentration of high-tech workers of any metropolitan area, with 285.9
                        out of every 1,000 private-sector workers.</p>
                </div>
            </div>

            <div class="location seattle_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/seattle_cd_campus.jpg" alt="seattle-coding-dojo-campus">
                    <h3><a href="/seattle">SEATTLE</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Seattle/@47.6098229,-122.1987356,17z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x54906c7ce3d2065f:0xff15876deb546c47!2s10777+Main+St,+Bellevue,+WA+98004!2m2!1d-122.1965469!2d47.6098193!3m4!1s0x41087781b127379f:0x44d6854d8a4c2a7c!8m2!3d47.6098114!4d-122.1965691?shorturl=1"
                        target="_blank">
                            <span>10777 MAIN ST #300</span>
                            <span>BELLEVUE, WA 98004</span>
                        </a>
                    <p>Ranking near the top of the list for tech hubs, Seattle offers many tech-related job opportunities. According to industry experts, the Seattle-Bellevue market is the No. 2 market in the country for high-tech growth, and venture capitalists
                        invested $266 million in the tech industry in the second quarter of 2014.</p>
                </div>
            </div>

            <div class="location los_angeles_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/la_cd_campus.jpg" alt="los-angeles-coding-dojo-campus">
                    <h3><a href="/los-angeles-burbank">LOS ANGELES</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Los+Angeles/@34.1808169,-118.3113682,17z/data=!3m1!4b1!4m5!3m4!1s0x80c29550c276f329:0x3da8182dfbcb4a88!8m2!3d34.1808169!4d-118.3091795" target="_blank">
                            <span>175 E OLIVE AVE 3RD FL</span>
                            <span>BURBANK, CA 91502</span>
                        </a>
                    <p>Los Angeles is home to offices of big tech names such as Google, Facebook, Microsoft, Hulu, YouTube and Snapchat. Economists say LA's high tech sector rivals Silicon Valley in providing jobs. The region is considered the second or
                        third-largest tech hub in the world, according to various reports.</p>
                </div>
            </div>

            <div class="location dallas_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/dallas_cd_campus.jpg" alt="dallas-coding-dojo-campus">
                    <h3><a href="/dallas">DALLAS</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Dallas/@32.7778069,-96.8055,17z/data=!3m1!4b1!4m5!3m4!1s0x864e991766b6c3db:0xe142846c4aae9e4c!8m2!3d32.7778024!4d-96.8033113?shorturl=1" target="_blank">
                            <span>900 JACKSON STREET #410</span>
                            <span>DALLAS, TX 75202</span>
                        </a>
                    <p>Not only is Dallas known for its established business scene, but the city is ranked as one of the nation’s fastest growing tech hubs. With roughly 3,000 tech companies and nearly 230,000 people employed in high-tech roles, some experts
                        argue that the tech industry footprint of the Dallas-Fort Worth region is one of the biggest in the country.</p>
                </div>
            </div>

            <div class="location dc_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/dc_cd_campus.jpg" alt="washington-dc-coding-bootcamp">
                    <h3><a href="/washington-dc">WASHINGTON DC</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Washington+DC/@38.9214169,-77.2355386,17z/data=!3m1!4b1!4m5!3m4!1s0x89b64af13d8177e5:0x2fb9ed1395d29d4d!8m2!3d38.9214127!4d-77.2333499?shorturl=1" target="_blank">
                            <span>1775 GREENSBORO STATION PL #210</span>
                            <span>MCLEAN, VA 22102</span>
                        </a>
                    <p>With over 1,000 tech startups and a thriving STEM job market, our nation’s capital is becoming one of the largest tech hubs on the east coast. In fact, Forbes dubbed it to be the “No. 1 New Tech Hot Spot” in 2013.</p>
                </div>
            </div>

            <div class="location chicago_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/chicago_cd_campus.jpg" alt="chicago-programming-school">
                    <h3><a href="/chicago">CHICAGO</a></h3>
                    <a class="campus_address" href="https://www.google.com/maps/place/Coding+Dojo+Chicago/@41.897187,-87.6374257,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd34b101406dd:0xbcb033dac668f88b!8m2!3d41.897183!4d-87.635237?shorturl=1" target="_blank">
                            <span>213 WEST INSTITUTE PL #610</span>
                            <span>CHICAGO, IL 60610</span>
                        </a>
                    <p>Arguably the number one tech hub of the Midwest, Chicago is starting to be known as more than just the Windy City. From 2010 to 2013, Chicago’s tech-related job market grew by over 25% and ranked third in the nation. The city is also
                        home to hundreds of prominent tech firms, such as Groupon and Salesforce, and boasts a vibrant startup scene.</p>
                </div>
            </div>

            <div class="location tulsa_location_wrapper">
                <div class="location_content">
                    <img src="http://d11p8zzranqxa6.cloudfront.net/new_images/about/locations/tulsa/tulsa_desktop_banner.jpg" alt="tulsa-programming-school">
                    <h3><a href="/tulsa">TULSA</a></h3>
                    <a class="campus_address" href="https://www.google.com.ph/maps/place/36+Degrees+North/@36.1591862,-95.9938316,15z/data=!4m2!3m1!1s0x0:0x3b9f78d4cdb52171?sa=X&ved=0ahUKEwjMjrTB3qXUAhWKi7wKHfUUCmsQ_BIIdjAK" target="_blank">
                            <span>36 E CAMERON ST</span>
                            <span>TULSA, OK 74103</span>
                        </a>
                    <p>Despite its small footprint, Tulsa is one of the top markets for skilled tech workers in the region. It’s a unique opportunity for anyone looking to get into tech, where the demand for tech talent greatly exceeds the local supply.
                        To fill this shortage, we’re partnering with the George Kaiser Family Foundation to open Tulsa’s first coding bootcamp, and together we’re aiming to raise the next generation of software engineers. In due time, this little-known
                        community will grow to be one of the top tech hubs in the region.</p>
                </div>
            </div>

            <div class="location berkeley_location_wrapper">
                <div class="location_content">
                    <div class="location_status_label">
                        <h3>COMING SOON</h3>
                    </div>
                    <div class="content_overlay_effect"></div>
                    <div class="content_wrapper">
                        <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/berkeley_cd_campus.jpg" alt="dallas-coding-dojo-campus">
                        <h3><a href="/berkeley-oakland">BERKELEY</a></h3>
                        <a class="campus_address" href="https://www.google.com/maps/place/6001+Shellmound+St+%23200,+Emeryville,+CA+94608/@37.8418928,-122.2960256,17z/data=!3m1!4b1!4m5!3m4!1s0x80857e5b80ca675f:0x1239472828a11112!8m2!3d37.8418928!4d-122.2938369" target="_blank">
                                <span>6001 SHELLMOUND ST SUITE 200</span>
                                <span>EMERYVILLE, CA 94608</span>
                            </a>
                        <p>Located in the heart of the East Bay just outside San Francisco, Berkeley is on its way as one of the next big up-and-coming tech hubs, boasting more than 350 startups and over $400 million in venture funding. Drawing attention
                            from entrepreneurs in the wider Bay Area and Silicon Valley, Berkeley is seeing growth in a variety of industries, notably software development, machine learning and innovative consumer goods.</p>
                    </div>
                </div>
            </div>

            <div class="location orange_county_location_wrapper">
                <div class="location_content">
                    <div class="location_status_label">
                        <h3>COMING SOON</h3>
                    </div>
                    <div class="content_overlay_effect"></div>
                    <div class="content_wrapper">
                        <img src="http://d11p8zzranqxa6.cloudfront.net/images/about/locations/orange_county_cd_campus.jpg" alt="washington-dc-coding-bootcamp">
                        <h3><a href="/orange-county">ORANGE COUNTY</a></h3>
                        <a class="campus_address" href="https://www.google.com/maps/place/3333+Susan+St,+Costa+Mesa,+CA+92626/@33.693806,-117.9167817,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcdf526817064d:0xe0e81ff53fb5b183!8m2!3d33.693806!4d-117.914593" target="_blank">
                                <span>3333 SUSAN STREET</span>
                                <span>COSTA MESA, CA 92626</span>
                            </a>
                        <p>Situated between Los Angeles and San Diego, Orange County has become a leading location for career growth in the technology industry due to its uniquely diverse group of high-tech companies. Netting $1 billion in venture capital
                            in 2015, the area is home to heavy-hitters in gaming, information technology, life science technology, sports technology and clean technology.</p>
                    </div>
                </div>
            </div>
        </div>
        </ul>
    </div> <br>
    <a href="./">Root</a> <br>
    <a href="./ninjas">Ninjas!! </a> <br>
    <a href="./dojos/new">New Dojos on the west coast.</a> <br>
</body>

</html>
